<ion-content>
	<ion-slides pager="true" class="custom-bullets">

		<!-- STANDARD PAGES -->
		<ion-slide *ngFor="let page of remote.prescriptionPages; let pageIdx = index">
			<div style="width:100% !important; margin:4px;">
				<p class="pageTitle">{{page.title}}</p>
				<ion-card *ngFor="let card of page.cards; let cardIdx = index" class="sliderCard">
					<ion-card-header class="sliderCardHeader">{{card.name}}</ion-card-header>

					<!-- BUTTON CONTENT: -->
					<ion-card-content *ngIf="!!card.buttons">
						<ion-row>
							<ion-col *ngFor="let btn of card.buttons; let j = index" [size]="btn.width" class="ion-no-padding">
								<!--
								<ion-button expand="block" strong=true [color]="btn.style.color" [disabled]="!btn.cmd" (click)="cmd(btn.cmd)">{{btn.label}}</ion-button>
								-->
								<ion-button expand="block" strong=true [ngClass]="btn.style.class" [disabled]="!btn.cmd" (click)="cmd(btn.cmd)">{{btn.label}}</ion-button>
								
							</ion-col>
						</ion-row>
					</ion-card-content>

					<!-- TOGGLE CONTENT: -->
					<ion-card-content *ngIf="!!card.toggles">
							<ion-item *ngFor="let tog of card.toggles; let j = index"  class="ion-no-padding">
								<ion-label>{{tog.label}}</ion-label>
								<ion-checkbox [(ngModel)]="tog.id" (click)="remote.toggleState(tog.id)"></ion-checkbox>
							</ion-item>
							<ion-button expand="block" *ngIf="card.submitButton" (click)="remote.setUpPages()">Add Pages</ion-button>
					</ion-card-content>

					<!-- INPUTS CONTENT: -->
					<ion-card-content *ngIf="!!card.inputs">
						<ion-item *ngFor="let input of card.inputs; let inputIdx = index">
							<div *ngIf="isNum(input.type)" style="width:100% !important">
								<ion-row>
									<ion-col size="6" class="gridColFrozen">{{input.label}}</ion-col>
									<ion-col size="6" class="gridData">
											<ion-input inputmode="numeric" type="number" [(ngModel)]="input.value"></ion-input>
									</ion-col>
								</ion-row>
							</div>
							<div *ngIf="input.type==='grid'" style="width:100% !important">
								<ion-grid style="margin:4px; width:100% !important">
									<ion-row>
										<ion-col size="3" class="gridHeader ion-text-left">{{input.indexLabel}}</ion-col>
										<ion-col size="2"><ion-button (click)="moveLeft(input)" expand="full" color="primary"><ion-icon name="caret-back" slot="icon-only"></ion-icon></ion-button></ion-col>
										<ion-col size="5" class="gridHeader">{{input.columns[input.currentCol].label}}</ion-col>
										<ion-col size="2"><ion-button (click)="moveRight(input)" expand="full" color="primary"><ion-icon name="caret-forward" slot="icon-only"></ion-icon></ion-button></ion-col>
									</ion-row>
									<ion-row *ngFor="let tmp of input.rowNums; let band = index"  class="ion-no-padding">
										<ion-col size="3" class="gridColFrozen"><ion-input disabled=true>{{band+1}}</ion-input></ion-col>
										<ion-col size="9" class="gridData"><ion-input inputmode="numeric" type="number" [(ngModel)]="input.columns[input.currentCol].values[band]"></ion-input></ion-col>
									</ion-row>
								</ion-grid>
							</div>
						</ion-item>
						<ion-button expand="block" *ngIf="card.submitButton" (click)="sendInputCard(card)">SUBMIT</ion-button>
					</ion-card-content>

					<!-- PLOT CONTENT: -->
					<ion-card-content *ngIf=!!card.plot>
						<ion-card-content>
							<canvas #lineCanvas height="200px"></canvas>
						</ion-card-content>
						<ion-button (click)="makeLineChart()">Load Graph</ion-button>
					</ion-card-content>

				</ion-card>
			</div>
		</ion-slide>    

		<!-- SERIAL MONITOR SLIDE, IF REQUESTED IN 'DEVELOPER SETTINGS'-->
		<ion-slide *ngIf="remote.showSerialMonitor" class="sliderCard">
			<div style="width:100% !important; margin:4px; height: 500px;">
				<p class="pageTitle">Full Logs</p>
				<ion-card>
					<ion-item>
						<ion-input item-start placeholder="Text to send" [(ngModel)]="textInput"></ion-input>
						<ion-button item-end strong=true (click)="remote.send(textInput)">Send</ion-button>
					</ion-item>
				</ion-card>
				<ion-card class="log-card" id="full-log">
					<p *ngFor="let msg of logger.logArray.slice(-80); let i = index" class="logText">{{msg}}</p>
				</ion-card>
			</div>
		</ion-slide>

		<!-- SERIAL PLOTTER SLIDE, IF REQUESTED IN 'DEVELOPER SETTINGS'-->
		<ion-slide *ngIf="remote.showSerialPlotter" class="sliderCard">
				<div style="width:100% !important; margin:4px; height: 500px;">
			<p class="pageTitle">Serial Plotter</p>
			<ion-button strong=true (click)="makeSerialPlot()">Start Plot</ion-button>
			<ion-button strong=true (click)="stopSerialPlot()">Stop Plot</ion-button>
			<canvas #lineCanvas id='myChart' height=300px></canvas>
			</div>
		</ion-slide>   

	</ion-slides>
</ion-content>

<ion-footer *ngIf="remote.showLogs" style="height:100px !important">
	<!-- LOG CARD -->
	<p class="logHeader">Logs</p>
	<p *ngFor="let msg of logger.logArray.slice(-2); let i = index" class="logText">{{msg}}</p>
</ion-footer>