.button {
	height:5vh;
}

.btn-on {
	--background:var(--ion-color-success);
	--background-hover:var(--ion-color-success);
	--color:var(--ion-color-success-contrast);
	font-size: large;
}

.btn-off {
	--background:var(--ion-color-medium);
	--background-hover:var(--ion-color-medium);
	--color:var(--ion-color-medium-contrast);
	font-size: large;
}

.btn-none {
	--background:unset;
	--color:var(--ion-color-light-contrast);
	font-size: large;
}

.custom-bullets {
	--bullet-background:black;
}

.gridHeader {
	padding-bottom: 8px;
	padding-top: 8px;
	font-size: 20px;
	text-align: center;
}

.gridData {
	/* font-size: 20px; */
	text-align: center;
	background-color: lightgray;
}

.gridColFrozen {
	/* font-size: 20px; */
	text-align: center;
}

ion-slides {
	height: 100%;
}

logHeader {
	margin: 4px;
	text-align: center;	
	font-size: 16px;
}

.logText {
	margin: 4px;
	text-align: left;
}

.log-card {
	height: 500px;
	overflow-y: scroll;
}

.pageTitle {
	margin: 0px;
	text-align: center;
	font-size: 28px;	
}

.sliderPage {
	padding: 5px;
	display: block;
	overflow-y: scroll;
}

.sliderCard {
	border: thin solid gray;
	margin: 5px 5px 0px 0px;
	padding: 0px;
}

.sliderCardHeader {
	padding-bottom: 8px; 
	padding-top: 8px;
	font-size: 24px;
	text-align: center;
}
