<ion-content>
  <ion-row>
    <ion-col col-4></ion-col>
    <ion-col col-4><ion-img [src]="remote.devIcon"></ion-img></ion-col>
    <ion-col col-4></ion-col>
  </ion-row>

  <ion-card>
    <ion-card-header style="padding-bottom: 8px; padding-top: 8px">Paired Devices</ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let dev of remote.devices" (click)=setActive(dev.id) [color]="remote.isActiveId(dev.id) ? 'primary' : 'light'">
        <ion-col size-xs="6">{{ dev.name }}</ion-col>
        <ion-col size-xs="6">{{ dev.id==remote.activeDeviceId?"Connected!":" "}}</ion-col>
      </ion-item>
      <ion-button strong=true (click)="remote.updateDeviceList()">
        Rescan for Devices
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Settings</ion-card-header>
    <ion-card-content>

      <ion-list>
        <ion-item>
          <ion-label>Show logs on all tabs</ion-label>
          <ion-toggle [(ngModel)]="remote.showLogs"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Show Boys Town Algorithm</ion-label>
          <ion-toggle></ion-toggle>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-button strong=true (click)="remote.testFn()">
      TEST
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>Send Single Character</ion-card-header>
    <ion-item>
      <ion-input item-start placeholder="Enter Character"></ion-input>
      <ion-button item-end srtong=true>Send</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <!-- LOG CARD -->
    <ion-card-header>Logs</ion-card-header>
    <p *ngFor="let msg of logger.logArray.slice(-4); let i = index" class="logText">{{msg}}</p>
  </ion-card>
<ion-note>Version: 0.1.2</ion-note>
</ion-content>


