<ion-content>
  <ion-row>
    <ion-col col-4></ion-col>
    <ion-col col-4><ion-img [src]="remote.devIcon"></ion-img></ion-col>
    <ion-col col-4></ion-col>
  </ion-row>

  <ion-card>
    <ion-card-header style="padding-bottom: 8px; padding-top: 8px">Paired Devices</ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let dev of remote.devices" (click)=toggleActive(dev.id) [color]="remote.isActiveId(dev.id) ? 'primary' : 'light'">
        <ion-col size-xs="6">{{ dev.name }}</ion-col>
        <ion-col size-xs="6">{{ dev.status }}</ion-col>
      </ion-item>
      <ion-button strong=true (click)="remote.updateDeviceList()">
        Rescan for Devices
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Settings</ion-card-header>
    <ion-card-content>

      <ion-list>
        <ion-item>
          <ion-label>Show logs on all tabs</ion-label>
          <ion-toggle [(ngModel)]="remote.showLogs"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Developer options</ion-label>
            <ion-toggle [(ngModel)]="remote.showDevOptions"></ion-toggle>
          </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="remote.showDevOptions">
    <ion-card-header>Developer Options</ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Enable mock devices</ion-label>
        <ion-toggle [(ngModel)]="remote.emulate"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Show serial monitor</ion-label>
        <ion-toggle [(ngModel)]="remote.showSerialMonitorPage"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Test</ion-label>
        <ion-button item-end strong=true (click)="remote.testFn()">TEST</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

<ion-note>Version: {{versionNumber}}</ion-note>
</ion-content>

<ion-footer *ngIf="remote.showLogs" style="height:100px !important">
  <!-- LOG CARD -->
  <p class="logHeader">Logs</p>
  <p *ngFor="let msg of logger.logArray.slice(-2); let i = index" class="logText">{{msg}}</p>
</ion-footer>
