<ion-header>
  <ion-toolbar>
    <ion-title>
      Sound Adjustments
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let card of remote.pages[1].cards; let i = index">
  <ion-card-header style="padding-bottom: 8px; padding-top: 8px">{{card.name}}</ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="6" *ngFor="let btn of card.buttons; let j = index"  class="ion-no-padding">
          <ion-button expand="block" strong=true [color]="remote.btn[btn.id].color" (click)="cmd(btn.cmd)">{{btn.label}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header style="padding-bottom: 8px; padding-top: 8px">Logs</ion-card-header>
    <p style="margin: 4px" *ngFor="let msg of logger.logArray.slice(-2); let i = index">{{msg}}</p>
  </ion-card>
</ion-content>
