<ion-header>
  <ion-toolbar>
    <ion-title>
      Sound Adjustments
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide *ngFor="let page of remote.pages; let pageIdx = index">
      <ion-grid style="width:100% !important; margin:4px">
        <ion-row *ngFor="let card of page.cards; let cardIdx = index" class="gridCard">
            <!--<ion-col size="12" style="padding-bottom: 8px; padding-top: 8px">{{card.name}}</ion-col> -->
            <ion-col size="12" class="gridCardHeader">{{card.name}}</ion-col>
            <ion-col size="6" *ngFor="let btn of card.buttons; let j = index"  class="ion-no-padding">
              <ion-button expand="block" strong=true [color]="remote.btn[btn.id].color" (click)="cmd(btn.cmd)">{{btn.label}}</ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="gridCard">
            <ion-col size="12" class="gridCardHeader">Logs</ion-col>
            <ion-col size="12">
              <p class="logText" *ngFor="let msg of logger.logArray.slice(-2); let i = index">{{msg}}</p>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>


