.button {
	height:5vh;
}

.gridCard {
	border: thin solid gray;
	margin: 5px 5px 0px 0px;
	padding: 10px;

}

.gridCardHeader {
	padding-bottom: 8px;
	padding-top: 8px;	
}

.logText {
	margin: 4px;
	text-align: left;
}
