<ion-header>
  <ion-toolbar>
    <ion-title>
      Sound Adjustments
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let card of remote.pages[1].cards; let i = index">
	<ion-card-header>{{card.name}}</ion-card-header>
    <ion-card-content>
    	<ion-button strong=true class="button halfBtn" *ngFor="let btn of card.buttons; let j = index" (click)="cmd(btn.cmd)">{{btn.label}}</ion-button>
    </ion-card-content>
  </ion-card>

    <ion-card>
        <ion-card-header>Logs</ion-card-header>
        <p *ngFor="let msg of logger.logArray.slice(-2); let i = index">{{msg}}</p>
    </ion-card>
</ion-content>
