<ion-header>
  <ion-toolbar>
    <ion-title>
      Tympan Presets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col col-4></ion-col>
    <ion-col col-4><ion-img src="/assets/tympan-logo.png"></ion-img></ion-col>
    <ion-col col-4></ion-col>
  </ion-row>

  <ion-card *ngFor="let card of remote.pages[0].cards; let i = index">
  <ion-card-header style="padding-bottom: 8px; padding-top: 8px">{{card.name}}</ion-card-header>
    <ion-card-content>
      <ion-row  *ngFor="let btn of card.buttons; let j = index">
        <ion-col size-xs="1" size-s="2"></ion-col>
        <ion-col size-xs="10" size-s="8" class="ion-no-padding">
          <ion-button expand="block" strong=true [color]="remote.btn[btn.id].color" (click)="cmd(btn.cmd)">{{btn.label}}</ion-button>
        </ion-col>
        <ion-col size-xs="1" size-s="2"></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
