<ion-header>
  <ion-toolbar>
    <ion-title>
      Tympan Presets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col col-4></ion-col>
    <ion-col col-4><ion-img src="/assets/tympan-logo.png"></ion-img></ion-col>
    <ion-col col-4></ion-col>
  </ion-row>

  <ion-card *ngFor="let card of remote.pages[0].cards; let i = index">
  <ion-card-header>{{card.name}}</ion-card-header>
    <ion-card-content>
      <ion-button expand="block" *ngFor="let btn of card.buttons; let j = index" (click)="cmd(btn.cmd)">{{btn.label}}</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
