<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
      <ion-button strong=true (click)="remote.updateDeviceList()">
        Rescan for Devices
      </ion-button>
    </ion-card>

    <ion-card>
        <ion-card-title>Paired Devices</ion-card-title>
        <ion-card-content>
            <ion-item *ngFor="let dev of remote.devices" (click)=setActive(dev.id)> 
                <p>{{dev.name}} {{ dev.id==remote.activeDeviceId?"      Connected!":" "}}</p>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>Logs</ion-card-header>
        <p *ngFor="let msg of logger.logArray.slice(-5)">{{msg}}</p>
    </ion-card>


</ion-content>


