.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.button {
	height:5vh;
}


.sliderCard {
	border: thin solid gray;
	margin: 5px 5px 0px 0px;
	padding: 10px;
}

.gridHeader {
	padding-bottom: 8px;
	padding-top: 8px;
	font-size: 20px;
	text-align: center;
}

.gridData {
	/* font-size: 20px; */
	text-align: center;
	background-color: lightgray;
}

.gridColFrozen {
	/* font-size: 20px; */
	text-align: center;
}

.logText {
	margin: 4px;
	text-align: left;
}
