.custom-bullets {
	--bullet-background:black;
}

.log-card {
	max-height: 50%;
	overflow-y: scroll;
}

.button-on {
	--background:var(--ion-color-success);
	--color:var(--ion-color-success-contrast);
	font-size: x-large;
}

.button-off {
	--background:var(--ion-color-medium);
	--color:var(--ion-color-medium-contrast);
	font-size: x-large;
}

.button-none {
	--background:unset;
	--color:var(--ion-color-light-contrast);
	font-size: x-large;
}