<ion-content>
  <ion-slides pager="true" class="custom-bullets">
    <!-- CUSTOM SLIDES, FROM THE TYMPAN: -->
    <ion-slide *ngFor="let page of remote.pages; let pageIdx = index">
      <div style="width:100% !important; margin:4px; height: 1000px;">
        <p class="pageTitle">{{page.title}}</p>
      
        <!-- BUTTON CONTENT: -->
        <ion-card *ngFor="let card of page.cards; let cardIdx = index" class="sliderCard">
          <ion-card-header class="sliderCardHeader">{{card.name}}</ion-card-header>
            <ion-card-content *ngIf="!!card.buttons">
              <ion-row>
                <ion-col *ngFor="let btn of card.buttons; let j = index" [size]="btn.width" class="ion-no-padding">
                  <!--
                  <ion-button expand="block" strong=true [color]="btn.style.color" [disabled]="!btn.cmd" (click)="cmd(btn.cmd)">{{btn.label}}</ion-button>
                  -->
                  <ion-button expand="block" strong=true [ngClass]="btn.style.class" [disabled]="!btn.cmd" (click)="cmd(btn.cmd)">{{btn.label}}</ion-button>
                  
                </ion-col>
              </ion-row>
            </ion-card-content>
        </ion-card>
      </div>
    </ion-slide>
    <!-- SERIAL MONITOR SLIDE, IF REQUESTED IN 'DEVELOPER SETTINGS'-->
    <ion-slide *ngIf="remote.showSerialMonitorPage" class="sliderCard">
      <div style="width:100% !important; margin:4px; height: 1000px;">
        <p class="pageTitle">Full Logs</p>
        <ion-card>
          <ion-item>
            <ion-input item-start placeholder="Text to send" [(ngModel)]="SingleCharInput"></ion-input>
            <ion-button item-end strong=true (click)="remote.send(SingleCharInput)">Send</ion-button>
          </ion-item>
        </ion-card>
        <ion-card class="log-card" id="full-log">
          <p *ngFor="let msg of logger.logArray.slice(-80); let i = index" class="logText">{{msg}}</p>
        </ion-card>
      </div>
    </ion-slide>    
  </ion-slides>
</ion-content>

<ion-footer *ngIf="remote.showLogs" style="height:100px !important">
  <!-- LOG CARD -->
  <p class="logHeader">Logs</p>
  <p *ngFor="let msg of logger.logArray.slice(-2); let i = index" class="logText">{{msg}}</p>
</ion-footer>